// COLORS
$color-primary: #a3221d;
$color-primary-light: #a3221d;
$color-primary-dark: #6d0000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-gold: #e2b007;

$color-silver: #c4cace;

$color-platin: #e5e4e2;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #f5f5f7;
$color-black: #e2e2e2;
$color-real-white: #ffffff;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;